.root {
    height: auto;
    flex-grow: 1
}

.wrapper {
    height: 100%;

    @media (max-width: rem(1023px)) {
        height: rem(256px);
    }
}

.input {
    height: 100%;

    @media (max-width: rem(1023px)) {
        height: rem(256px);
    }
}